.home {
	min-height: 100%;
	width: 1920px;
    max-width: 100%;
	padding-top: 100px;
	justify-content: center;
	text-align: center;

}

.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
}
.header {
	color: whitesmoke;
	font-size: 4rem;
    text-shadow: 2px 2px black;
    float: top;
}
.follow {
	font-size: 2rem;
	color: whitesmoke;
    text-shadow: 2px 1.5px black;
}
.btn {
    position: relative;
    display: inline-block;
    background-color: #039be5;
    color: white;
    padding: 1.5rem 4.5rem;
    font-family: inherit;
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: normal;
    border: 0;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background 250ms, box-shadow 250ms;
}
.teamcardimg {
    height: 25%;
    width: 25%;
}
.teamcard {
    background-color: black;
}

.teamimg {
    height: 25px
}
