.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    width: 100%;
    position: static;
}
.headroom--unfixed {
    position: relative;
    width: 100%;
    transform: translateY(0);
}
.headroom--scrolled {
    transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
}
.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
}
h1 {
    background-color: transparent;
    color: black;
}
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    width: 100%;
    background-color: #2f2e2e;
}
.topnav a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
}
.
.right {
    float: right;
}
.left {
    float: left;
    font-size: 15px;
}
.left a {
    font-size: 55px;
}
